.main {
  font-family: sans-serif;
}
.img {
  height: 267.5px;
  width: 400.5px;
  border-radius: 10px;
}
.about1 {
  margin-top: 40px;
  justify-content: center;
  text: center;
  width: 100%;
  text-align: left;
  font-size: 1.875em;
  margin-left: 60px;
}
.about2 {
  display: flex;
  margin-left: 60px;
  gap: 45px;
  margin-top: 20px;
}

.desc {
  align-items: center;
  font-size: 1.3em;
  text-align: left;
}

@media (max-width: 750px) {
  .about2 {
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
  }
  .desc {
    margin-top: 50px;
  }
}
